<section id="edit-container">
  <h3>{{ pageTitle }}</h3>
  <form #regForm="ngForm" (ngSubmit)="submitRegistration(regForm)" novalidate>
    <div class="form-row">
      <p>Id en Sistema: {{ward.wardId || '(nuevo)'}}</p>
    </div>
    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="nameInput">Nombre</label>
        <input [(ngModel)]="ward.name" type="text" class="form-control" required name="name" id="nameInput" placeholder="Ej. Consulta Externa">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="ta-buildingInput">Edificio</label>

        <input name="ta-buildingInput" id="ta-buildingInput" type="text" class="form-control"
               [inputFormatter]="buildingTAFormatter" [class.is-invalid]="buildingSearchFailed"
               [(ngModel)]="buildingModel" [editable]="false" [resultFormatter]="buildingSearchResultFormatter" [ngbTypeahead]="searchBuilding" placeholder="Buscar Edificio" />

        <small class="text-muted" *ngIf="isSearchingBuilding">Buscando...</small>
        <div class="invalid-feedback" *ngIf="buildingSearchFailed">Sorry, suggestions could not be loaded.</div>
      </div>
      <div class="form-group col col-auto">
        <label for="floorNumberInput">Nivel</label>
        <input [(ngModel)]="ward.floorNumber" type="text" class="form-control" name="floorNumber" id="floorNumberInput" placeholder="Ej. 2">
      </div>
      <div class="form-group col col-auto">
        <label for="unitIdInput">Unidad</label>

        <input name="ta-unitInput" id="ta-unitInput" type="text" class="form-control"
               [inputFormatter]="unitTAFormatter" [class.is-invalid]="unitSearchFailed"
               [(ngModel)]="unitModel" [editable]="false" [resultFormatter]="unitSearchResultFormatter" [ngbTypeahead]="searchUnit" placeholder="Buscar Unidad" />

        <small class="text-muted" *ngIf="isSearchingUnit">Buscando...</small>
        <div class="invalid-feedback" *ngIf="unitSearchFailed">Sorry, suggestions could not be loaded.</div>
      </div>
      <div class="form-group col col-auto">
        <label for="statusIdInput">Status</label>
        <select [(ngModel)]="ward.wardStatusId" name="status" id="statusIdInput" class="form-control">
          <option *ngFor="let status of wardStatuses" [value]="status.wardStatusId">{{status.name}}</option>
        </select>
      </div>
      <div class="form-group col col-auto">
        <label for="genderIdInput">Género</label>
        <select [(ngModel)]="ward.wardGenderId" name="gender" id="genderIdInput" class="form-control">
          <option *ngFor="let gender of wardGenders" [value]="gender.wardGenderId">{{gender.name}}</option>
        </select>
      </div>
    </div>
    <button type="submit" *ngIf="!isSaving" class="btn btn-primary">Guardar</button>
    <div *ngIf="isSaving" class="spinner-border text-primary" role="status">
      <span class="sr-only">Guardando...</span>
    </div>
  </form>
</section>
