.masterhead {
  margin-top: -15px;
  height: 90vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/Pd4lRfKo16U/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-title {
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  font-size: 3.5rem;
}

.landing-subtitle {
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  font-weight: unset;
}

