<section id="edit-container">
  <h3>{{ pageTitle }}</h3>
  <form #regForm="ngForm" (ngSubmit)="submitRegistration(regForm)" novalidate>
    <div class="form-row">
      <p>Id en Sistema: {{unit.hospitalUnitId || '(nuevo)'}}</p>
    </div>
    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="codeInput">Código</label>
        <input [(ngModel)]="unit.code" type="text" class="form-control" name="code" id="codeInput" placeholder="Ej. UCI01">
      </div>
      <div class="form-group col col-auto">
        <label for="nameInput">Nombre</label>
        <input [(ngModel)]="unit.name" type="text" class="form-control" required name="name" id="nameInput" placeholder="Ej. Unidad de Cuidados Intensivos">
      </div>
    </div>
    <button type="submit" *ngIf="!isSaving" class="btn btn-primary">Guardar</button>
    <div *ngIf="isSaving" class="spinner-border text-primary" role="status">
      <span class="sr-only">Guardando...</span>
    </div>
  </form>
</section>
