@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>What to do next?</h3>
<p>
    Please contact the developer and supply the above <strong>Request ID</strong> to help them figure out what went wrong.
</p>
<p>
    You may also go back, try again or head to the <a href="./">home page.</a>
</p>