<section id="ambulatory-attention_section">
  <div class="admin-grid card-deck">
    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./ambulatoryattentionrecords']">Registros de AT-1</a></h4>
      </div>
      <div class="card-body text-primary">
        <a [routerLink]="['./ambulatoryattentionrecords']">
          <img class="card-img" src="../../../assets/img/hospital-building-icon.svg" width="150" height="150" alt="Icon of hospital building">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./ambulatoryattentionreport']">Reporte AT-1</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./ambulatoryattentionreport']">
          <img class="card-img" src="../../../assets/img/hospital-ward-icon.svg" width="150" height="150" alt="Icon of hospital ward">
        </a>
      </div>
    </div>

  </div>
</section>
