<section id="administration_section">
  <div class="admin-grid card-deck">
    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./buildings']">Edificios</a></h4>
      </div>
      <div class="card-body text-primary">
        <a [routerLink]="['./buildings']">
          <img class="card-img" src="../../../assets/img/hospital-building-icon.svg" width="150" height="150" alt="Icon of hospital building">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./units']">Unidades</a></h4>
      </div>
      <div class="card-body text-primary">
        <a [routerLink]="['./units']">
          <img class="card-img" src="../../../assets/img/hospital-unit-icon.svg" width="150" height="150" alt="Icon of hospital unit">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./wards']">Salas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./wards']">
          <img class="card-img" src="../../../assets/img/hospital-ward-icon.svg" width="150" height="150" alt="Icon of hospital ward">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./beds']">Camas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./beds']">
          <img class="card-img" src="../../../assets/img/hospital-bed-icon.svg" width="150" height="150" alt="Icon of hospital bed">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./healthprofessionals']">Médicos</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./healthprofessionals']">
          <img class="card-img" src="../../../assets/img/hospital-stethoscope-icon.svg" width="150" height="150" alt="Icon of stethoscope">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./appointmentreasons']">Razones para citas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./appointmentreasons']">
          <img class="card-img" src="../../../assets/img/appointment-icon.svg" width="150" height="150" alt="Icon of an appointment">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./medicalspecialties']">Especialidades médicas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./medicalspecialties']">
          <img class="card-img" src="../../../assets/img/doctor-icon.svg" width="150" height="150" alt="Icon of a doctor">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./diagnoses']">Diagnósticos</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./diagnoses']">
          <img class="card-img" src="../../../assets/img/diagnosis-icon.svg" width="150" height="150" alt="Icon of a diagnosis">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./countries']">Países</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./countries']">
          <img class="card-img" src="../../../assets/img/flag1-icon.svg" width="150" height="150" alt="Icon of a flag">
        </a>
      </div>
    </div>

    <div class="card mb-2 admin-tile">
      <div class="card-header admin-tile-header">
        <h4><a [routerLink]="['./administrativedivisions']">Divisiones Administrativas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./administrativedivisions']">
          <img class="card-img" src="../../../assets/img/map1-icon.svg" width="150" height="150" alt="Icon of a map">
        </a>
      </div>
    </div>
  </div>
</section>
