<section id="administration_section">
  <div class="card-deck">
    <div class="card mb-2" style="max-width: 15rem;">
      <div class="card-header">
        <h4><a [routerLink]="['./buildings']">Edificios</a></h4>
      </div>
      <div class="card-body text-primary">
        <a [routerLink]="['./buildings']">
          <img class="card-img" src="../../../assets/img/hospital-building-icon.svg" width="150" height="150" alt="Icon of hospital building">
        </a>
      </div>
    </div>

    <div class="card mb-2" style="max-width: 15rem;">
      <div class="card-header">
        <h4><a [routerLink]="['./units']">Unidades</a></h4>
      </div>
      <div class="card-body text-primary">
        <a [routerLink]="['./units']">
          <img class="card-img" src="../../../assets/img/hospital-unit-icon.svg" width="150" height="150" alt="Icon of hospital unit">
        </a>
      </div>
    </div>

    <div class="card mb-2" style="max-width: 15rem;">
      <div class="card-header">
        <h4><a [routerLink]="['./wards']">Salas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./wards']">
          <img class="card-img" src="../../../assets/img/hospital-ward-icon.svg" width="150" height="150" alt="Icon of hospital ward">
        </a>
      </div>
    </div>

    <div class="card mb-2" style="max-width: 15rem;">
      <div class="card-header">
        <h4><a [routerLink]="['./beds']">Camas</a></h4>
      </div>

      <div class="card-body text-primary">
        <a [routerLink]="['./beds']">
          <img class="card-img" src="../../../assets/img/hospital-bed-icon.svg" width="150" height="150" alt="Icon of hospital bed">
        </a>
      </div>
    </div>
  </div>
</section>
