<section id="edit-container">
  <h3>{{ pageTitle }}</h3>
  <form #regForm="ngForm" (ngSubmit)="submitRegistration(regForm)" novalidate>
    <div class="form-row">
      <p>Id en Sistema: {{recordStorageLocation.recordStorageLocationId || '(nuevo)'}}</p>
    </div>

    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="nameInput">Nombre</label>
        <input [(ngModel)]="recordStorageLocation.name" type="text" class="form-control" required name="name" id="nameInput" placeholder="Ej. Estante 10 en Consulta Externa">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col col-auto">
        <label for="ta-recordStorageLocationInput">Ubicación Padre</label>
        <input name="ta-parentInput" id="ta-recordStorageLocationInput" type="text" class="form-control"
               [inputFormatter]="recordStorageLocationTAFormatter" [class.is-invalid]="recordStorageLocationSearchFailed"
               [(ngModel)]="parentRecordStorageLocationModel" [editable]="false" [resultFormatter]="recordStorageLocationSearchResultFormatter"
               [ngbTypeahead]="searchRecordStorageLocation" placeholder="Buscar Ubicación" />

        <small class="text-muted" *ngIf="isSearchingRecordStorageLocation">Buscando...</small>
        <div class="invalid-feedback" *ngIf="recordStorageLocationSearchFailed">No se pudieron cargar las sugerencias.</div>
      </div>
    </div>

    <button type="submit" *ngIf="!isSaving" class="btn btn-primary">Guardar</button>
    <div *ngIf="isSaving" class="spinner-border text-primary" role="status">
      <span class="sr-only">Guardando...</span>
    </div>
  </form>
</section>
