<section id="edit-container">
  <h3>{{ pageTitle }}</h3>
  <form #regForm="ngForm" (ngSubmit)="submitRegistration(regForm)" novalidate>
    <div class="form-row">
      <p>Id en Sistema: {{ambulatoryAttentionRecord.ambulatoryAttentionRecordId || '(nuevo)'}}</p>
    </div>
    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="ta-healthProInput">Profesional de Salud</label>

        <input name="ta-healthProInput" id="ta-healthProInput" type="text" class="form-control"
               [inputFormatter]="healthProfessionalTAFormatter" [class.is-invalid]="healthProfessionalSearchFailed"
               [(ngModel)]="healthProfessionalModel" [editable]="false" [resultFormatter]="healthProfessionalSearchResultFormatter" [ngbTypeahead]="searchHealthProfessional" placeholder="Buscar profesional de salud" />

        <small class="text-muted" *ngIf="isSearchingHealthProfessional">Buscando...</small>
        <div class="invalid-feedback" *ngIf="healthProfessionalSearchFailed">No se pudieron cargar las sugerencias.</div>
      </div>
      <div class="form-group col col-auto">
        <label for="dateInput">Fecha de atención</label>
        <input [(ngModel)]="ambulatoryAttentionRecordDate" type="date" class="form-control" required name="date" id="dateInput" placeholder="Ej. 15 Abril 2019">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="ta-oncologyPatientIdInput">Paciente</label>

        <input name="ta-oncologyPatientInput" id="ta-oncologyPatientInput" type="text" class="form-control"
               [inputFormatter]="oncologyPatientTAFormatter" [class.is-invalid]="oncologyPatientSearchFailed"
               [(ngModel)]="oncologyPatientModel" [editable]="false" [resultFormatter]="oncologyPatientSearchResultFormatter" [ngbTypeahead]="searchOncologyPatient" placeholder="Buscar Paciente" />

        <small class="text-muted" *ngIf="isSearchingOncologyPatient">Buscando...</small>
        <div class="invalid-feedback" *ngIf="oncologyPatientSearchFailed">No se pudieron cargar las sugerencias.</div>
      </div>

      <div class="form-group col col-auto">
        <label></label>
        <div class="form-check">
          <input [(ngModel)]="ambulatoryAttentionRecord.isNewPatient" type="checkbox" class="form-check-input" required name="isNewPatient" id="isNewInput" placeholder="Ej. Yes">
          <label class="form-check-label" for="isNewInput">Es nuevo paciente?</label>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="ta-diagnosisIdInput">Diagnóstico</label>

        <input name="ta-diagnosisInput" id="ta-diagnosisInput" type="text" class="form-control"
               [inputFormatter]="diagnosisTAFormatter" [class.is-invalid]="diagnosisSearchFailed"
               [(ngModel)]="diagnosisModel" [editable]="false" [resultFormatter]="diagnosisSearchResultFormatter" [ngbTypeahead]="searchDiagnosis" placeholder="Buscar Diagnóstico" />

        <small class="text-muted" *ngIf="isSearchingOncologyPatient">Buscando...</small>
        <div class="invalid-feedback" *ngIf="oncologyPatientSearchFailed">No se pudieron cargar las sugerencias.</div>
      </div>

      <div class="form-group col col-auto">
        <label for="diseaseEventInput">Evento de Enfermedad/Síntoma</label>
        <input [(ngModel)]="ambulatoryAttentionRecord.diseaseEventDescription" type="text" class="form-control" required name="diseaseEvent" id="diseaseEventInput" placeholder="Ej. Fiebre" />
      </div>

      <div class="form-group col col-auto">
        <label for="treatmentPhaseInput">Fase de Tratamiento</label>
        <input [(ngModel)]="ambulatoryAttentionRecord.treatmentPhase" type="text" class="form-control" required name="treatmentPhase" id="treatmentPhaseInput" placeholder="Ej. Paciente nuevo" />
      </div>

      <div class="form-group">
        <label for="nextAppointmentDateInput">Próxima consulta</label>
        <input [(ngModel)]="ambulatoryAttentionRecordNextAppointmentDate" type="date" class="form-control" required name="nextAppointmentDate" id="nextAppointmentDateInput" placeholder="Ej. 2019/05/25" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col col-auto">
        <label for="referredToInput">Referido a</label>
        <input [(ngModel)]="ambulatoryAttentionRecord.referredTo" type="text" class="form-control" required name="referredTo" id="referredToInput" placeholder="Ej. Hospital Escuela" />
      </div>

      <div class="form-group col col-auto">
        <label for="receivedFromInput">Recibido de</label>
        <input [(ngModel)]="ambulatoryAttentionRecord.receivedFrom" type="text" class="form-control" required name="receivedFrom" id="receivedFromInput" placeholder="Ej. IHSS" />
      </div>
    </div>

    <button type="submit" *ngIf="!isSaving" class="btn btn-primary">Guardar</button>
    <div *ngIf="isSaving" class="spinner-border text-primary" role="status">
      <span class="sr-only">Guardando...</span>
    </div>
  </form>
</section>
